# Logs
npm-debug.log*

# Server ignores
server/node_modules/
server/dist/
server/.env*
server/coverage
# Server Public folder: Keep the folder, ignore the uploaded files
server/public/*
!server/public/.gitkeep

# Client ignores
client/node_modules/
client/dist/
client/.env*

# SSL Certificates
*.pem
*.csr
*.key
ssl/
server/ssl/

# Compiled Jest config
jest.config.js
jest.config.js.map